body{
	background: rgba(237,237,237,1);
background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 77%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(23%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(77%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 77%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 77%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 77%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 77%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );
}
.text-nomar{
	font-size: 22px;
	font-weight: bold;
}
.text-blue{
	color:#2fdc10
}
.text-red{
	color:#ff2813;
}
.text_info{font-size: 10px}

.hoatdong_content{
}
.hoatdong_td{
	height: 100px;
}
#donut_statistic{margin-left: 6px;}
#donut_statistic_1{margin-top:30px;margin-left: 25px}
#donut_statistic_2{margin-top:15px;margin-left: 19px}

.title_cm{border-bottom: 1px solid #ededed;font-size: 14px;padding-bottom: 3px;font-weight: bold;}


.prog-text_right{
	font-size: 22px;
	float: right;
}
.prog-title{
	font-size: 13px;
	font-weight: bold;
}

.user-ah .fa-user{
	color:#3d6eb9;
}
.user-social{
	font-size: 9px;
	margin-top: 5px;
}
.user-social i{font-size: 12px;color:#2657b1f5;}
.user-ah .col-sm-2{padding:0px 5px;}

.col-center{padding:0 35px;}